starter-kits/ok_watson/ok-watson-starter-flow.json
[{"id":"29f92629.39b6ca","type":"watson-tone-analyzer-v3","z":"6470be5b.359f3","name":"","tones":"emotion","sentences":"false","contentType":"false","x":713.2417526245117,"y":591.835750579834,"wires":[["10e0104b.d0e54"]]},{"id":"d450877f.45cfe8","type":"twitter out","z":"6470be5b.359f3","twitter":"","name":"Tweet","x":1102.514892578125,"y":313.4930639266968,"wires":[]},{"id":"8788f632.9e6a98","type":"inject","z":"6470be5b.359f3","name":"demos","topic":"","payload":"Do you have any demos?","payloadType":"str","repeat":"","crontab":"","once":false,"x":218.5982322692871,"y":588.5764660835266,"wires":[["d1e5a5e3.434318"]]},{"id":"48aa7d35.01e414","type":"watson-conversation-v1","z":"6470be5b.359f3","name":"","workspaceid":"","multiuser":false,"context":true,"x":691.5148849487305,"y":355.5764350891113,"wires":[["f9d0b3d0.ee676"]]},{"id":"4875ad0d.0fb014","type":"watson-speech-to-text","z":"6470be5b.359f3","name":"","continuous":true,"lang":"en-US","langhidden":"en-US","band":"BroadbandModel","bandhidden":"","password":"","x":181.764892578125,"y":357.8264207839966,"wires":[["8ba3d935.479118"]]},{"id":"7a5826f3.27ad48","type":"watson-text-to-speech","z":"6470be5b.359f3","name":"","lang":"en-GB","langhidden":"en-GB","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"","x":1131.5148944854736,"y":384.9097843170166,"wires":[["8bbbd8ea.615d68"]]},{"id":"8ba3d935.479118","type":"function","z":"6470be5b.359f3","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":345.764892578125,"y":357.82641315460205,"wires":[["bc276407.94b5e8"]]},{"id":"8bbbd8ea.615d68","type":"function","z":"6470be5b.359f3","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1302.181646347046,"y":384.9097843170166,"wires":[["64cf3549.d0abbc"]]},{"id":"64cf3549.d0abbc","type":"play audio","z":"6470be5b.359f3","name":"","x":1461.5149402618408,"y":384.9097843170166,"wires":[]},{"id":"55dc68f4.3b4268","type":"inject","z":"6470be5b.359f3","name":"","topic":"","payload":"Set user details","payloadType":"str","repeat":"","crontab":"","once":false,"x":172.76488876342773,"y":169.57644081115723,"wires":[["489d46a3.f53248"]]},{"id":"461f35bc.63870c","type":"microphone","z":"6470be5b.359f3","name":"","x":171.014892578125,"y":309.5764102935791,"wires":[["4875ad0d.0fb014"]]},{"id":"7c9a4255.2c3c0c","type":"inject","z":"6470be5b.359f3","name":"","topic":"","payload":"reset context","payloadType":"str","repeat":"","crontab":"","once":false,"x":163.76488876342773,"y":134.24309730529785,"wires":[["f69e2676.bb7738"]]},{"id":"f69e2676.bb7738","type":"function","z":"6470be5b.359f3","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":335.76488876342773,"y":134.24310493469238,"wires":[["10689c9b.e7b8d3"]]},{"id":"489d46a3.f53248","type":"function","z":"6470be5b.359f3","name":"add context","func":"msg.additional_context = {\n    twitter: {\n    handle: \"a_twitter_handle_without_the_at_symbol\",\n    dm: false\n}}\nreturn msg;","outputs":1,"noerr":0,"x":335.5981864929199,"y":169.24312782287598,"wires":[["10689c9b.e7b8d3"]]},{"id":"f9d0b3d0.ee676","type":"function","z":"6470be5b.359f3","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    if (output && output.indexOf(\"|tweet:\") > -1) {\n        node.warn(\"tweeting\");\n        if (\n            msg.payload.context.twitter &&\n            msg.payload.context.twitter.handle \n            ) {\n            \n            // extract text and url to tweet and clean up strings\n            var tweet = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"tweet:\") > -1 ;\n                }).join(', ').replace(\"tweet:\", '');\n            var url = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"link:\") > -1 ;\n                }).join(', ').replace(\"link:\", '');\n            \n            // dm switch\n            var dmswitch = '';\n            if (msg.payload.context.twitter.dm && msg.payload.context.twitter.dm === true){\n                dmswitch = \"DM \";\n            }\n            // construct tweet\n            tweet = dmswitch + \"@\" + msg.payload.context.twitter.handle + \" \" + tweet + \" \" + url;\n            \n            msg.payload = tweet;\n            node.warn(\"Sending string to twitter node: \\n\" + tweet)\n            node.send([msg,null]);\n            \n        } else {node.error(\"no twitter details\");}\n    } else {\n        node.warn(\"no tweet requested\");\n    }\n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":"2","noerr":0,"x":895.6815414428711,"y":354.2430763244629,"wires":[["d450877f.45cfe8"],["7a5826f3.27ad48"]]},{"id":"bc276407.94b5e8","type":"link out","z":"6470be5b.359f3","name":"gototone","links":["4ea3303.5ce80d","5a7a1ceb.f33bb4"],"x":452.3179359436035,"y":404.07642555236816,"wires":[]},{"id":"ee79725e.16e95","type":"link in","z":"6470be5b.359f3","name":"convIn","links":["fe6e16cb.8b2438","10689c9b.e7b8d3","63a9061a.4b8b78"],"x":570.4316337108612,"y":400.9097480773926,"wires":[["48aa7d35.01e414"]]},{"id":"efc8814.9d59c8","type":"inject","z":"6470be5b.359f3","name":"Hi","topic":"","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"x":217.76488876342773,"y":550.9931221008301,"wires":[["d1e5a5e3.434318"]]},{"id":"c3c92f3e.1d836","type":"inject","z":"6470be5b.359f3","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":190.01488876342773,"y":624.4931230545044,"wires":[["d1e5a5e3.434318"]]},{"id":"ad9f0012.942db","type":"inject","z":"6470be5b.359f3","name":"Happy feedback","topic":"","payload":"These new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":189.51488876342773,"y":660.2431240081787,"wires":[["d1e5a5e3.434318"]]},{"id":"5a7a1ceb.f33bb4","type":"link in","z":"6470be5b.359f3","name":"","links":["bc276407.94b5e8","d1e5a5e3.434318"],"x":578.4917516708374,"y":595.2524070739746,"wires":[["bcc845e7.859fb8","29f92629.39b6ca"]]},{"id":"bcc845e7.859fb8","type":"debug","z":"6470be5b.359f3","name":"","active":true,"console":"false","complete":"false","x":705.9917526245117,"y":551.919093132019,"wires":[]},{"id":"fe6e16cb.8b2438","type":"link out","z":"6470be5b.359f3","name":"","links":["ee79725e.16e95"],"x":1081.7417640686035,"y":592.0857801437378,"wires":[]},{"id":"10e0104b.d0e54","type":"function","z":"6470be5b.359f3","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":927.8250694274902,"y":592.7524070739746,"wires":[["fe6e16cb.8b2438"]]},{"id":"d1e5a5e3.434318","type":"link out","z":"6470be5b.359f3","name":"frommaninputs","links":["4ea3303.5ce80d","5a7a1ceb.f33bb4"],"x":450.19608879089355,"y":594.7414207458496,"wires":[]},{"id":"10689c9b.e7b8d3","type":"link out","z":"6470be5b.359f3","name":"adminout","links":["ee79725e.16e95"],"x":455.20877599716187,"y":151.83853721618652,"wires":[]},{"id":"eb46ad69.835d2","type":"comment","z":"6470be5b.359f3","name":"config","info":"","x":116.91752243041992,"y":94,"wires":[]},{"id":"7038faa9.a39024","type":"comment","z":"6470be5b.359f3","name":"speech in","info":"","x":127.24177551269531,"y":274.1111936569214,"wires":[]},{"id":"6740cc2b.b8fe64","type":"comment","z":"6470be5b.359f3","name":"test txt in","info":"","x":124.74177169799805,"y":511.6112575531006,"wires":[]},{"id":"62bd251d.62a65c","type":"comment","z":"6470be5b.359f3","name":"tone analyser","info":"","x":628.4917869567871,"y":509.1112337112427,"wires":[]},{"id":"7223e727.156e08","type":"comment","z":"6470be5b.359f3","name":"conversations call and output","info":"","x":673.491813659668,"y":280.36119270324707,"wires":[]}]
